
.Maxat{
    color: rgb(153, 8, 236);
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 0 1px #000; 

}
.contact{
    text-align: center;
    color: rgb(153, 8, 236);
    text-shadow: 1px 0 1px #000; 
    font-size: 30px;
}
p{
    color: rgb(153, 8, 236);
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 0 1px #000; 


}
body{
    background-color: steelblue;
}
h3{
    text-align: center;
    color: rgb(153, 8, 236);
    text-shadow: 1px 0 1px #000; 
    font-size: 30px;
}
h4{
    text-align: center;
    color: rgb(153, 8, 236);
    text-shadow: 1px 0 1px #000; 
    font-size: 30px;
}
ol{
    text-align: left;
    color: rgb(153, 8, 236);
    text-shadow: 1px 0 1px #000; 
    font-size: 30px;
}
h5{
    text-align: center;
    color: rgb(153, 8, 236);
    text-shadow: 1px 0 1px #000; 
    font-size: 30px;
}
h6{
    text-align: center;
    color: rgb(153, 8, 236);
    text-shadow: 1px 0 1px #000; 
    font-size: 30px;
}